<nav class="navbar navbar-expand fixed-top bg-black">
  <div class="container flex-md-row">
    <a class="navbar-brand float-left" href="/">
      <img class="lykke-partners-logo" src="../../../assets/images/lykke_partners_logo_white.svg">
    </a>
    <div class="collapse navbar-collapse d-none d-md-none d-lg-flex">
      <ul class="navbar-nav mr-auto d-none d-md-none d-lg-flex">
        <li class="nav-item">
          <span class="nav-link">Register new asset</span>
        </li>
      </ul>
    </div>

    <a href="javascript:;" class="exit" (click)="returnToPreviousPage()"><img
      src="../../../assets/images/exit-icon.svg"><span class="d-none d-md-inline-block d-lg-inline-block">Exit</span></a>
  </div>
</nav>


<div class="container registration-container">
  <div class="row">
    <div class="col-md-3 d-none d-sm-none d-md-block">
      <ul class="list-group">
        <li class="list-group-item" (click)="currentStep = 'partner'" [ngClass]="{'active': currentStep === 'partner', 'disabled': currentStep === 'finish'}">
          <a href="javascript:;">Introduce yourself</a></li>
        <li class="list-group-item" (click)="processForm()" [ngClass]="{'active': currentStep === 'compliance', 'disabled': currentStep === 'finish'}"><a
          href="javascript:;">Compliance</a></li>
      </ul>
    </div>
    <div class="col-12 col-sm-12 col-md-9">
      <div class="container">

        <!-- Partners info -->

        <div class="intro-holder" *ngIf="currentStep === 'partner'">
          <h5 class="d-sm-block d-md-none">STEP 1 OF 2</h5>
          <h3>Introduce yourself</h3>
          <p>
            Lykke offers ICO’s as a regulated services provider.
          </p>
          <p>
            To launch your ICO as early as possible, we encourage you to act now. Simply fill out the registration form.
            You will then receive an email from us requesting some additional information, a Non-Disclosure Agreement
            and
            a request for some necessary documents.
          </p>
          <p>
            Fill out the following form also, if you previously launched an ICO and want to list your already existing
            token on our Lykke Exchange
          </p>
        </div>
        <!-- /Partners info -->
        <!-- Compliance info -->

        <div class="intro-holder" *ngIf="currentStep === 'compliance'">
          <span class="mb-2 back-arrow" (click)="currentStep = 'partner'"><img class="d-sm-inline-block d-md-none"
                                                                               src="../../../assets/images/back-icon.svg"></span>
          <h5 class="d-sm-block d-md-none">STEP 2 OF 2</h5>
          <h3>Compliance</h3>
          <p>KYC regulations and documents - Choosing jurisdiction under which they will be compliant. Each asset that
            will be listed as a token needs to be compliant with a jurisdiction in a particular country. Enable partners
            to choose and apply in supported jurisdictions.</p>
        </div>

        <!-- /Compliance info -->

        <!-- Finish -->
        <div class="intro-holder" *ngIf="currentStep === 'finish'">
          <div class="row">
            <div class="col-12 text-center">
              <div class="img-holder">
                <img src="../../../assets/images/success-icon.svg">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <h3>Thank you!</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <p class="text-success">Your application was successful.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <p>
                Our experts will review your submission
                and will get back to you soon.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <button class="btn btn-primary" (click)="returnToPreviousPage()">Go Back</button>
            </div>
          </div>
        </div>

        <!--/Finish -->

        <div class="form-holder" [ngClass]="{'bt-gray': currentStep !== 'finish'}">

          <!-- Partner form -->

          <form class="register-form mt-3" [formGroup]="partnerForm" (ngSubmit)="processForm()">
            <div *ngIf="currentStep === 'partner'">
              <div class="row">
                <div class="col-12 col-sm-9 float-left">
                  <h4>Contact Details</h4>
                </div>
                <div class="col-12 col-sm-3 float-right">
                  <span>* mandatory fields</span>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label>Salutation</label>
                </div>
              </div>
              <div class="row">
                <div class="col-6 col-sm-3">
                  <div class="form-group">
                    <button type="button" class="form-control" (click)="setSalutationValue('dr')"
                            [ngClass]="{'selected': salutation === 'dr'}">Dr
                    </button>
                  </div>
                </div>
                <div class="col-6 col-sm-3">
                  <div class="form-group">
                    <button type="button" class="form-control" (click)="setSalutationValue('mr')"
                            [ngClass]="{'selected': salutation === 'mr'}">Mr.
                    </button>
                  </div>
                </div>
                <div class="col-6 col-sm-3">
                  <div class="form-group">
                    <button type="button" class="form-control" (click)="setSalutationValue('mrs')"
                            [ngClass]="{'selected': salutation === 'mrs'}">Mrs.
                    </button>
                  </div>
                </div>
                <div class="col-6 col-sm-3">
                  <div class="form-group">
                    <button type="button" class="form-control" (click)="setSalutationValue('ms')"
                            [ngClass]="{'selected': salutation === 'ms'}">Ms.
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="firstName">First name*</label>
                    <input type="text" name="firstName" id="firstName" class="form-control" formControlName="firstName">

                    <div *ngIf="partnerForm.controls['firstName'].invalid && partnerForm.dirty"
                         class="text-danger">
                      <div *ngIf="partnerForm.controls['firstName'].errors['required']">
                        Please enter a name
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="lastName">Last name*</label>
                    <input type="text" name="lastName" id="lastName" class="form-control" formControlName="lastName">

                    <div *ngIf="partnerForm.controls['lastName'].invalid && partnerForm.dirty"
                         class="text-danger">
                      <div *ngIf="partnerForm.controls['lastName'].errors['required']">
                        Please enter a name
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="jobTitle">Job title*</label>
                    <input type="text" name="jobTitle" id="jobTitle" class="form-control" formControlName="jobTitle">

                    <div *ngIf="partnerForm.controls['jobTitle'].invalid && partnerForm.dirty"
                         class="text-danger">
                      <div *ngIf="partnerForm.controls['jobTitle'].errors['required']">
                        Please enter your job title
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="orgName">Organization Name*</label>
                    <input type="text" name="orgName" id="orgName" class="form-control"
                           formControlName="organizationName">

                    <div *ngIf="partnerForm.controls['organizationName'].invalid && partnerForm.dirty"
                         class="text-danger">
                      <div *ngIf="partnerForm.controls['organizationName'].errors['required']">
                        Please enter the name of your organization
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="street">Street*</label>
                    <input type="text" name="street" id="street" class="form-control" formControlName="street">

                    <div *ngIf="partnerForm.controls['organizationName'].invalid && partnerForm.dirty"
                         class="text-danger">
                      <div *ngIf="partnerForm.controls['organizationName'].errors['required']">
                        Please enter the name of your organization
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="city">City*</label>
                    <input type="text" name="city" id="city" class="form-control" formControlName="city">

                    <div *ngIf="partnerForm.controls['city'].invalid && partnerForm.dirty"
                         class="text-danger">
                      <div *ngIf="partnerForm.controls['city'].errors['required']">
                        Please enter the name of your city
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="zip">ZIP</label>
                    <input type="text" name="zip" id="zip" class="form-control" formControlName="zip">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="country">Country*</label>
                    <input type="text" name="country" id="country" class="form-control" formControlName="country">

                    <div *ngIf="partnerForm.controls['country'].invalid && partnerForm.dirty"
                         class="text-danger">
                      <div *ngIf="partnerForm.controls['country'].errors['required']">
                        Please enter your country
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="phone">Phone*</label>
                    <input type="tel" name="phone" id="phone" class="form-control" formControlName="phone">

                    <div *ngIf="partnerForm.controls['phone'].invalid && partnerForm.dirty"
                         class="text-danger">
                      <div *ngIf="partnerForm.controls['phone'].errors['required']">
                        Please enter your phone number
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="email">Email*</label>
                    <input type="email" name="email" id="email" class="form-control" [email]="true"
                           formControlName="email">

                    <div *ngIf="partnerForm.controls['email'].invalid && partnerForm.dirty"
                         class="text-danger">
                      <div
                        *ngIf="partnerForm.controls['email'].errors['required'] || partnerForm.controls['email'].errors['email']">
                        Please enter correct email address
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="website">Website</label>
                    <input type="text" name="website" id="website" class="form-control" formControlName="website">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label>Where did you hear about us?</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-check">
                        <label class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" name="aboutUs" value="event"
                                 formControlName="aboutUs">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">Event</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-check">
                        <label class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" name="aboutUs" value="lykkeCom"
                                 formControlName="aboutUs">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">www.lykke.com</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-check">
                        <label class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" name="aboutUs" value="other"
                                 formControlName="aboutUs">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">Other</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-check">
                        <label class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" name="aboutUs" value="personalNetwork"
                                 formControlName="aboutUs">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">Personal network</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="primaryRelationship">What is your primary relationship with Lykke? (select one)*</label>
                    <select class="form-control" name="primaryRelationship" id="primaryRelationship" formControlName="primaryRelationship">
                      <option>1</option>
                      <option>2</option>
                    </select>

                    <div *ngIf="partnerForm.controls['primaryRelationship'].invalid && partnerForm.dirty"
                         class="text-danger">
                      <div *ngIf="partnerForm.controls['primaryRelationship'].errors['required']">
                        Please enter your primary relationship
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="proposalConcern">Which industry or business category does your proposal concern?*</label>
                    <input type="text" name="proposalConcern" id="proposalConcern" class="form-control" formControlName="proposalConcern">

                    <div *ngIf="partnerForm.controls['proposalConcern'].invalid && partnerForm.dirty"
                         class="text-danger">
                      <div *ngIf="partnerForm.controls['proposalConcern'].errors['required']">
                        Please enter the category
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="description">How can we help you create something great?</label>
                    <textarea rows="5" name="description" id="description" class="form-control" formControlName="description"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 text-center">
                  <input type="submit" class="btn btn-primary" value="Next" #submitButton>
                </div>
              </div>
            </div>

            <!-- /Partner form -->
            <!-- Compliance form-->

            <div *ngIf="currentStep === 'compliance'">
              <div class="row">
                <div class="col-12">
                  <h4>
                    Supported regulations
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-check">
                    <label class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" name="supportedRegulations" value="switzerland"
                             formControlName="supportedRegulations">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Switzerland</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" name="supportedRegulations" value="europe"
                             formControlName="supportedRegulations">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Europe</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" name="supportedRegulations" value="usa"
                             formControlName="supportedRegulations">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">USA</span>
                    </label>
                  </div>

                  <div *ngIf="partnerForm.controls['supportedRegulations'].invalid && partnerForm.dirty"
                       class="text-danger">
                    <div *ngIf="partnerForm.controls['supportedRegulations'].errors['required']">
                      Please select a regulation
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-12">
                  <object class="pdf-viewer" data="../../../assets/data/dummy.pdf" type='application/pdf'>
                    <p>Sorry, the PDF couldn't be displayed :(</p>
                    <a href="../../../assets/data/dummy.pdf" target="_blank">Click Here</a>
                  </object>
                </div>
              </div>
              <div class="row">
                <div class="col-8 text-center">
                  <input type="submit" class="btn btn-primary" value="Save">
                </div>
              </div>
            </div>

            <!-- /Compliance form -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
