/* You can add global styles to this file, and also import other style files */


@import './scss/bootstrap';

@import './scss/fonts';
@import './scss/icons';

.font-weight-semibold {
  font-weight: $font-weight-semibold;
}

h1, h2, h3, h4, h5, h6 { color: $dark-grey }
p { color: $slate }


h2, h3 {
  line-height: 1.2;
  font-weight: $font-weight-semibold;
}
h4 {
  line-height: 1.43;
}
h5 {
  line-height: 1.82;
}

.btn-primary {
  color: $white;
}
