# Auto normalize line-endings

* text eol=lf encoding=UTF-8

# Always LF line-endings

*.sh text eol=lf

# Always CRLF line-endings

*.sln text eol=crlf
*.csproj text eol=crlf

# Diff settings

*.cs     diff=csharp text 
*.vb     text
*.ttf     -text diff
*.eot     -text diff
*.woff    -text diff
*.woff2   -text diff


# Regognize these filetypes as binary so git won't transform them in
# any away - e.g. change line endings

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
