<ngx-carousel
  [inputs]="carouselOptions">
  <ngx-item NgxCarouselItem>
    <div class="container">
      <div class="row align-items-center justify-content-center justify-content-lg-between">
        <div class="col-9 col-lg-5 text-center product-image">
          <img class="img-fluid" src="../../../assets/images/homepage/product-carousel/Trading_Wallet_Screen.png" alt="">
        </div>
        <div class="col-lg-7 product-text">
          <h5 class="text-dark-grey text-center text-lg-left">Lykke Trading Wallet</h5>
          <h6 class="text-slate text-center text-lg-left">Trade FX and Digital Assets</h6>
          <p class="text-slate">Lykke Wallet is the next generation trading platform with zero commissions. We make it simple to trade all asset classes. The immediate settlement and direct ownership is enabled by the blockchain. Some of the features available on both iOS and Android:</p>
          <ul>
            <li>Deposit bitcoins and digital assets to multisig wallets with an encrypted private key</li>
            <li>Buy and sell bitcoins and digital assets with 0% commission</li>
            <li>Receive the proof of each trade on the blockchain in half an hour instead of 3 days</li>
            <li>Track asset prices in real time: FX, BTC, colored coins</li>
            <li>Check balances, transaction history and blockchain details for all your transactions</li>
            <li>Deposit/withdraw Bitcoin and ERC20 tokens via QR code</li>
            <li>Remotely disable the access if your phone is lost or stolen</li>
          </ul>
        </div>
      </div>
    </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <div class="container">
      <div class="row align-items-center justify-content-center justify-content-lg-between">
        <div class="col-9 col-lg-5 text-center product-image">
          <img class="img-fluid" src="../../../assets/images/homepage/product-carousel/web_terminal.png" alt="">
        </div>
        <div class="col-lg-7 product-text">
          <h5 class="text-dark-grey text-center text-lg-left">Lykke Exchange</h5>
          <h6 class="text-slate text-center text-lg-left">Trading Platform & API</h6>
          <div>Low-latency cloud-based matching engine</div>
          <ul>
            <li>High-throughput API</li>
            <li>Open source code base</li>
            <li>Market maker protection</li>
            <li>Maker/taker fee schedule</li>
          </ul>
          <div>Asset classes</div>
          <ul>
            <li>FX cash coins (22 in total)</li>
            <li>Cryptocurrencies (Bitcoin Ethereum)</li>
            <li>Crypto-equity (Lykke coin)</li>
            <li>Derivatives (Lykke 1-year forward)</li>
            <li>Metals (XAU, XAG, XPT, XPD)</li>
          </ul>
        </div>
      </div>
    </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <div class="container">
      <div class="row align-items-center justify-content-center justify-content-lg-between">
        <div class="col-9 col-lg-5 text-center product-image">
          <img class="img-fluid" src="../../../assets/images/homepage/product-carousel/Lykke-Margin-Trading.png" alt="">
        </div>
        <div class="col-lg-7 product-text">
          <h5 class="text-dark-grey text-center text-lg-left">Lykke Margin Trading</h5>
          <h6 class="text-slate text-center text-lg-left"></h6>
          <div>FX & Cryptocurrencies margin trading</div>
          <ul>
            <li>Mobile trading</li>
            <li>Web-based terminal</li>
            <li>p2p-funding market</li>
          </ul>

          <div>Asset classes:</div>
          <ul>
            <li>FX pairs</li>
            <li>Cryptocurrencies (Bitcoin, Ethereum)</li>
            <li>Metals (XAU, XAG, XPT, XPD)</li>
          </ul>

          <div>Clients:</div>
          <ul>
            <li>Retail clients</li>
            <li>Professional clients</li>
          </ul>

          <div>Regulation:</div>
          <ul>
            <li>VFSC Dealer license</li>
            <li>CySEC Broker license</li>
          </ul>
        </div>
      </div>
    </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <div class="container">
      <div class="row align-items-center justify-content-center justify-content-lg-between">
        <div class="col-9 col-lg-5 text-center product-image">
          <img class="img-fluid" src="../../../assets/images/homepage/product-carousel/Lykke-Pay.png" alt="">
        </div>
        <div class="col-lg-7 product-text">
          <h5 class="text-dark-grey text-center text-lg-left">Lykke Pay</h5>
          <h6 class="text-slate text-center text-lg-left"></h6>
          <div>Payments infrastructure on blockchain</div>
          <ul>
            <li>Blockchain payments & transfers</li>
            <li>Debit card linked to digital wallet</li>
            <li>Credit card powered</li>
            <li>by securities lending</li>
            <li>Crypto POS terminal</li>
            <li>Crypto ATM</li>
            <li>eCommerce plugins</li>
            <li>Exchange services for PSPs</li>
          </ul>

          <div>Features:</div>
          <ul>
            <li>Client pays with available digital assets</li>
            <li>Merchant receives asset of choice</li>
            <li>‘On-the-fly’ conversion in matching engine</li>
            <li>Stable coins (FX Forward-at-the-run)</li>
          </ul>

          <div>Technology:</div>
          <ul>
            <li>Lightning Network</li>
            <li>Raiden Network</li>
          </ul>
        </div>
      </div>
    </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <div class="container">
      <div class="row align-items-center justify-content-center justify-content-lg-between">
        <div class="col-9 col-lg-5 text-center product-image">
          <img class="img-fluid" src="../../../assets/images/homepage/product-carousel/POS-Terminal.jpg" alt="">
        </div>
        <div class="col-lg-7 product-text">
          <h5 class="text-dark-grey text-center text-lg-left">POS terminal</h5>
          <h6 class="text-slate text-center text-lg-left"></h6>
          <p>Working on Lykke Pay we look into the future and believe, micropayments on the blockchain will be available at every shop and restaurant, as banking cards nowadays. Our partner – 34Bytes – manufactured for us a POS handheld terminal connected to Lykke Pay, that prints out a check with QR code containing a receiver address and amount to be paid in Bitcoins.</p>
          <p>As soon as Lykke Pay detects the required amount on the provided address, the terminal prints out a confirmation receipt. While we are waiting for a payment from a customer we take care of
            the market risk, once the payment is received, merchants working with us can convert received Bitcoins to FIAT currency at Lykke Exchange immediately.</p>
        </div>
      </div>
    </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <div class="container">
      <div class="row align-items-center justify-content-center justify-content-lg-between">
        <div class="col-9 col-lg-5 text-center product-image">
          <img class="img-fluid" src="../../../assets/images/homepage/product-carousel/Modern_Money_Screen.png" alt="">
        </div>
        <div class="col-lg-7 product-text">
          <h5 class="text-dark-grey text-center text-lg-left">Modern Money</h5>
          <h6 class="text-slate text-center text-lg-left"></h6>
          <p>Modern Money is a personal finance application that will help you take control of your money, build your financial portfolio and pay everyday bills on the go.
          </p>
          <ul>
            <li>US Dollar, Euro or Swiss Franc, Bitcoin, Ethereum or other cryptocurrencies - with Modern Money Debit Card you chose what currency to spend and when to spend it. Managing your Debit Card has never been easier.</li>
            <li>The world of finance is changing. Become part of it and bring cryptocurrencies to your everyday life. Deposit bitcoins, transfer funds from a credit card or make a bank wire transfer, we support it all.</li>
          </ul>
          <p>Modern Money is a multisignature wallet, which is like a safe with two keys. You have one key, and Lykke has the other. No one can take your money, even if your phone is stolen. Every transaction is approved by fingerprint and for additional security, we ask for PIN code as well.</p>
        </div>
      </div>
    </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <div class="container">
      <div class="row align-items-center justify-content-center justify-content-lg-between">
        <div class="col-9 col-lg-5 text-center product-image">
          <img class="img-fluid" src="../../../assets/images/homepage/product-carousel/Eco_Wallet_Screen.png" alt="">
        </div>
        <div class="col-lg-7 product-text">
          <h5 class="text-dark-grey text-center text-lg-left">Lykke.blue</h5>
          <h6 class="text-slate text-center text-lg-left">Natural capital investment</h6>
          <p>Earth faces dangerous ecological tipping points due to primitive economic models that undervalue nature. We’re building a global movement to act on climate and protect biodiversity by investing in natural capital. Now is the time to reinvent finance with a truly sustainable global marketplace, open to everyone.</p>
          <p>Empower sustainability leaders to launch innovative digital assets with 24/7 liquidity. Powered by blockchain and Lykke Alpha Engine. Democratise investment in natural capital.</p>
          <p>Lykke.blue is a secure, easy to use e-wallet in iOS & Android with direct access to the world’s most inspiring marketplace.</p>
        </div>
      </div>
    </div>
  </ngx-item>
  <a NgxCarouselPrev href="javascript:;" class="leftRs d-none d-md-block"></a>
  <a NgxCarouselNext href="javascript:;" class="rightRs d-none d-md-block"></a>
</ngx-carousel>
