<ngx-carousel
  [inputs]="carouselOptions">
  <ngx-item NgxCarouselItem>
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-5">
          <img class="img-fluid" src="../../../assets/images/homepage/product-carousel/Modern_Money_Screen.png" alt="">
        </div>
        <div class="col-6">
          <h5 class="text-dark-grey">Lykke Trading Wallet</h5>
          <h6 class="text-slate">Trade FX and Digital Assets</h6>
          <p class="text-slate">Lorem ipsum dolor sit amet, covnsectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum</p>
        </div>
      </div>
    </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-5">
          <img class="img-fluid" src="../../../assets/images/homepage/product-carousel/Eco_Wallet_Screen.png" alt="">
        </div>
        <div class="col-6">
          <h5 class="text-dark-grey">Lykke Trading Wallet</h5>
          <h6 class="text-slate">Trade FX and Digital Assets</h6>
          <p class="text-slate">Lorem ipsum dolor sit amet, covnsectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum</p>
        </div>
      </div>
    </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-5">
          <img class="img-fluid" src="../../../assets/images/homepage/product-carousel/Modern_money.png" alt="">
        </div>
        <div class="col-6">
          <h5 class="text-dark-grey">Lykke Trading Wallet</h5>
          <h6 class="text-slate">Trade FX and Digital Assets</h6>
          <p class="text-slate">Lorem ipsum dolor sit amet, covnsectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum</p>
        </div>
      </div>
    </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-5">
          <img class="img-fluid" src="../../../assets/images/homepage/product-carousel/Trading_Wallet_Screen.png" alt="">
        </div>
        <div class="col-6">
          <h5 class="text-dark-grey">Lykke Trading Wallet</h5>
          <h6 class="text-slate">Trade FX and Digital Assets</h6>
          <p class="text-slate">Lorem ipsum dolor sit amet, covnsectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum</p>
        </div>
      </div>
    </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-5">
          <img class="img-fluid" src="../../../assets/images/homepage/product-carousel/web_terminal.png" alt="">
        </div>
        <div class="col-6">
          <h5 class="text-dark-grey">Lykke Trading Wallet</h5>
          <h6 class="text-slate">Trade FX and Digital Assets</h6>
          <p class="text-slate">Lorem ipsum dolor sit amet, covnsectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum</p>
        </div>
      </div>
    </div>
  </ngx-item>
  <a NgxCarouselPrev href="javascript:;" class='leftRs'></a>
  <a NgxCarouselNext href="javascript:;" class='rightRs'></a>
</ngx-carousel>
