<div class="lykke-product-item">
  <div class="row justify-content-center image-row">
    <div class="col-10">
      <div class="product-image">
        <img class="img-fluid align-middle" [src]="product.imageUrl"/>
      </div>
    </div>
  </div>
  <div class="row justify-content-center description-row">
    <div class="col-12">
      <div class="product-description text-center">
        <div class="container">
          <h4>
            {{product.title}}
          </h4>
          <h6>
            {{product.description}}
          </h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="product-footer">
        <div class="container">
          <button class="btn btn-primary" routerLink="details">Learn More</button>
        </div>
      </div>
    </div>
  </div>
</div>
