<nav class="navbar navbar-expand fixed-top bg-white">
  <div class="container flex-column flex-md-row">
    <a class="navbar-brand" href="/">
      <img class="lykke-partners-logo" src="../../assets/images/lykke_partners_logo.svg">
    </a>
    <div class="collapse navbar-collapse d-none d-md-flex">
      <ul class="navbar-nav mr-auto d-none d-md-flex">
        <li class="nav-item active">
          <a class="nav-link" href="javascript:;" (click)="scrollToSection('.explore-ecosystem')">Ecosystem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;" (click)="scrollToSection('.carousel-section')">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;" (click)="scrollToSection('.how-it-works')">How it works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;" (click)="scrollToSection('.tokenization-section')">Tokenization</a>
        </li>
      </ul>
      <a href="javascript:;" class="nav-link d-none d-md-block" (click)="signIn()">Sign in</a>
    </div>
  </div>
</nav>
