<div class="product-details">
  <div class="container">
    <div class="row mb-5 align-items-center header-container">
      <div class="col-12 col-md-6 mb-5">
        <h3>Trade Bitcoin, Ethereum, FX and digital assets</h3>
        <h4 class="text-muted mb-4">Access easily. Use for free. Settle immediately. Own directly.</h4>
        <button class="btn btn-primary">Request to whitelable</button>
      </div>
      <div class="col-12 col-md-6">
        <div class="image-holder">
          <img src="../../../assets/images/products/lykke_wallet_ios_android.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div>
          <tabset>
            <tab heading="EXPLORE" customClass="product-details-tab">
              <p class="product-description mt-4">
                The Lykke Wallet mobile application for iOS and Android is the key element of the Lykke trading
                ecosystem. Our wallet app makes it easy for you to trade currencies and cryptocurrencies. You can buy
                and sell assets such as bitcoin and ether on the open-source Lykke Exchange, our next-generation trading
                platform, with immediate settlement and direct ownership, thanks to distributed ledger technology, all
                at zero percent commission.
              </p>
              <div class="row">
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center">
                  <div class="stores">
                    <a href="javascript:;"><img src="../../../assets/images/products/details/app_store.svg"></a>
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center">
                  <div class="stores">
                    <a href="javascript:;"><img src="../../../assets/images/products/details/google_play.svg"></a>
                  </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-3 mt-2 d-flex align-items-center justify-content-baseline">
                  <div class="stores">
                    <a href="javascript:;">Visit Website <img class="visit-button"
                                                              src="../../../assets/images/products/details/visit_website.svg"></a>
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="TECHNOLOGY" customClass="product-details-tab">
              <div class="row mt-5">
                <div class="col-12">
                  <h3>Discover the technology</h3>
                  <p class="product-description mt-2">
                    The Lykke marketplaces uses the distributed ledger, which is blockchain technology pioneered by
                    Bitcoin.
                    A blockchain is a sequence of linked data records, or blocks. Each block refers to an earlier block
                    in
                    the chain, which strengthens the security of the entire sequence and makes it possible to store the
                    data
                    in a decentralized way, across multiple network-enabled devices in physical locations anywhere in
                    the
                    world. Using the blockchain as a ledger for financial transactions—as Bitcoin does, and as Lykke
                    does—all but eliminates the risk of fraud, because the ledger exists in no fixed place. Rather, it
                    exists in multiple places simultaneously, beyond the reach of any single authority.
                  </p>
                </div>
              </div>
              <div class="row mt-5 mb-5">
                <div class="col-12">
                  <img class="technology-graphic" src="../../../assets/images/products/details/technology_graphic.png">
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="product-description">
                    The blockchain also eliminates traditional barriers to entry, where only certain interests gain
                    access
                    to market, often due to regulations that discourage the participation of private investors. On the
                    blockchain, anyone with a mobile device is now a potential market participant, with just as much
                    access
                    as anyone else. And on the global marketplace that Lykke is building, you can trade not just
                    Bitcoins
                    but any item of value. Any financial asset or instrument can be fairly exchanged for any other, from
                    anywhere in the world to anywhere in the world, without the exchange assuming ownership of the
                    asset, in
                    the time that it takes to check your phone.
                  </p>
                  <p class="product-description">
                    The medium of exchange is the colored coin, another
                    innovation from the Bitcoin project. Just as a Bitcoin represents a fixed currency value, which you
                    can
                    express in any convertible currency, a colored coin represents a fixed value of anything: a stock or
                    bond, real estate, a luxury item, a work of art—any object with market value. The holder of the
                    asset
                    can issue colored coins to stand for the value of the asset for trade, which any buyer can purchase
                    in
                    the very same currency, instantly, using the Lykke Exchange.
                  </p>
                  <p class="product-description">
                    Under this model, the Lykke Exchange acts as a clearinghouse for going market rates but never as a
                    repository for the assets exchanged. Market
                    participants use the Lykke Exchange to negotiate prices and settle transactions, but the assets
                    themselves are not held by Lykke, which further ensures the integrity of the exchange.
                  </p>
                </div>
              </div>
              <div class="row mt-3 btn-row">
                <div class="col-md-12 col-md-3 col-lg-3 mb-2">
                  <button class="btn btn-primary">Discover more</button>
                </div>
                <div class="col-md-12 col-md-4 col-lg-4 mb-2">
                  <button class="btn btn-primary">Request to whitelable</button>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
