<!DOCTYPE html>
<html>
<head>
    <title>[Contacts]</title>
</head>
<body>
    <table>
        <tr>
            <td>
                Full name: @[FullName]
            </td>
        </tr>
        <tr>
            <td>
                Email: @[Email]
            </td>
        </tr>
        <tr>
            <td>
                Phone: @[PhoneNumber]
            </td>
        </tr>
        <tr>
            <td>
                Message : @[Message]
            </td>
        </tr>
		<tr>
            <td>
                Source : @[Source]
            </td>
        </tr>
       
    </table>
</body>
</html>