<!DOCTYPE html>
<html>
<head>
    <title>[Contacts]</title>
</head>
<body>
    <table>
        <tr>
            <td>
                Full name: @[FullName]
            </td>
        </tr>
        <tr>
            <td>
                Email: @[Email]
            </td>
        </tr>
        <tr>
            <td>
                Phone: @[PhoneNumber]
            </td>
        </tr>
        <tr>
            <td>
                Message : @[Message]
            </td>
        </tr>
		<tr>
            <td>
                Source : @[Source]
            </td>
        </tr>
        <tr>
            <td>
                <a href="@String.Concat("https://lykke-backoffice.azurewebsites.net/#/Kyc/DocumentsChecking/Client/", @[UserId])">Kyc Page for the Registered Client</a>
            </td>
        </tr>
    </table>
</body>
</html>