<!DOCTYPE html>
<html>
<head>
    <title>[Newsletter subscription]</title>
</head>
<body>
    <table>
        <tr>
            <td>
                Email: @[Email]
            </td>
        </tr>
        <tr>
            <td>
               Source: @[Source]
            </td>
        </tr>
        <tr>
            <td>
                <a href="@String.Concat("https://lykke-backoffice.azurewebsites.net/#/Kyc/DocumentsChecking/Client/", @[UserId])">Kyc Page for the Registered Client</a>
            </td>
        </tr>
    </table>
</body>
</html>