@import '~scss/reuse';

.navbar {
  height: 104px;
  .lykke-partners-logo {
    width: 277px;
  }
}

.become-partner-map {
  background: url('../../assets/images/homepage/image_header_compressed.jpg') left bottom no-repeat;
  background-size: cover;
  padding-top: 204px;
  padding-bottom: 310px;
  position: relative;
  .background-overlay {
    background-color: $dark-grey;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .container {
    position: relative;
    z-index: 3;
  }
  .map {
    background: url('../../assets/images/homepage/world_map.svg');
    position: absolute;
    right: 4.1%;
    top: 133px;
    width: 815px;
    height: 396px;
    z-index: 2;
  }
  .waves {
    background: url('../../assets/images/homepage/waves_white_top.svg') center bottom no-repeat;
    background-size: 101% auto;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  h4 {
    margin-top: 18px;
    margin-bottom: 30px;
  }
}

.lykke-partners {
  padding-bottom: 68px;

  p.copy {
    margin-top: 45px;
    margin-bottom: 65px;
  }
}

.explore-ecosystem {
  padding-top: 95px;
  padding-bottom: 140px;
  .existing-assets {
    margin-top: 115px;
    .asset {
      background: $white;
      height: 315px;
      padding: 12px 12px 0;
      display: flex;
      flex-direction: column;
      &:hover {
        background: $primary;
        .asset-name {
          background: $white;
          color: $dark-grey;
        }
        .asset-desc {
          display: block;
        }
        .asset-logo {
          display: none;
        }
      }
    }
    img {
      width: 42%;
    }
    .asset-name {
      background: $primary;
      color: $white;
      display: flex;
      font-size: 1.375rem;
      font-weight: $font-weight-semibold;
      justify-content: center;
      padding: 0.532rem;
    }
    .asset-content {
      align-items: center;
      display: flex;
      flex-grow: 1;
      justify-content: center;
    }
    .asset-desc {
      display: none;
      line-height: 1.22;
    }
  }
}

.carousel-section {
  padding-top: 97px;
  padding-bottom: 62px;
}

.how-it-works {
  padding-top: 77px;
  padding-bottom: 94px;
  h6 {
    font-weight: $font-weight-semibold;
    font-size: 1.3125rem;
  }
  .launch-steps {
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 35px;
      padding-left: 100px;
      position: relative;
    }
    img {
      height: 76px;
      position: absolute;
      left: 0;
      top: 7px;
    }
  }
  .right-section {
    img {
      margin-bottom: 60px;
    }
  }
  .how-it-works-content {
    margin-top: 80px;
  }
}
