<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand fixed-top bg-white">
  <div class="container flex-column flex-md-row">
    <a class="navbar-brand" href="/">
      <img class="lykke-partners-logo" src="../../assets/images/lykke_partners_logo.svg">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="javascript:;" (click)="scrollToSection('.explore-ecosystem')">Ecosystem</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:;" (click)="scrollToSection('.carousel-section')">Products</a>
      </li>
    </ul>
      <a href="#" class="d-none sign-in text-dark-grey font-weight-semibold">Sign in</a>
    </div>
  </div>
</nav>

<div class="home-section become-partner-map">
  <div class="background-overlay"></div>
  <div class="container text-center text-lg-left">
    <h2 class="text-white">
      Become<br>
      our Partner
    </h2>
    <h4 class="text-white">One global marketplace<br>
      to issue and trade digital assets
    </h4>
    <button type="button" class="btn btn-primary" (click)="openModal()" angulartics2On="click" angularticsCategory="Partner Portal Landing page" angularticsEvent="Click on Contact us button" >Contact us</button>
    <img class="map" src="../../assets/images/homepage/world_map.svg" alt="">
  </div>
  <div class="waves"></div>
</div>


<div class="home-section lykke-partners text-center">
  <div class="container">
    <h2>LykkePartners</h2>
    <h4 class="text-cool-grey">Your ideas, real opportunities - it’s all up to you.</h4>
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <p class="copy lead font-weight-normal">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam</p>
        <button type="button" class="btn btn-primary" (click)="openModal()" angulartics2On="click" angularticsCategory="Partner Portal Landing page" angularticsEvent="Click on Contact us button" >Contact us</button>
      </div>
    </div>
  </div>
</div>

<div class="home-section explore-ecosystem bg-pale-grey text-center">
  <div class="container">
    <h3>Explore the ecosystem</h3>
    <h5 class="text-cool-grey">Become a partner, built on top of our existing assets.</h5>
    <div class="row existing-assets justify-content-center">
      <div class="col-9 col-md-6 col-lg-3 gutter-bottom">
        <div class="asset">
          <div class="asset-name">Lykke</div>
          <div class="asset-content">
            <img src="../../assets/images/homepage/lykke_logo.svg" class="asset-logo">
            <p class="asset-desc text-white">SolarCoin represents 1 MWh of solar electricity generation. As a verified solar electricity producer, you may get SolarCoins for free.</p>
          </div>
        </div>
      </div>
      <div class="col-9 col-md-6 col-lg-3 gutter-bottom">
        <div class="asset">
          <div class="asset-name">Worldview</div>
          <div class="asset-content">
            <img src="../../assets/images/homepage/worldview_logo.svg" class="asset-logo">
            <p class="asset-desc text-white">SolarCoin represents 1 MWh of solar electricity generation. As a verified solar electricity producer, you may get SolarCoins for free.</p>
          </div>
        </div>
      </div>
      <div class="col-9 col-md-6 col-lg-3 gutter-bottom">
        <div class="asset">
          <div class="asset-name">Solarcoin</div>
          <div class="asset-content">
            <img src="../../assets/images/homepage/solarcoin_logo.svg" class="asset-logo">
            <p class="asset-desc text-white">SolarCoin represents 1 MWh of solar electricity generation. As a verified solar electricity producer, you may get SolarCoins for free.</p>
          </div>
        </div>
      </div>
      <div class="col-9 col-md-6 col-lg-3 gutter-bottom">
        <div class="asset">
          <div class="asset-name">Binary.com</div>
          <div class="asset-content">
            <img src="../../assets/images/homepage/binary_logo.svg" class="asset-logo">
            <p class="asset-desc text-white">SolarCoin represents 1 MWh of solar electricity generation. As a verified solar electricity producer, you may get SolarCoins for free.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="home-section carousel-section">
  <div class="container">
    <div class="text-center">
      <h3>We’ve built a whole new world for you</h3>
      <h5 class="text-cool-grey">Explore our products and bring your ideas to life</h5>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10 products-carousel">
        <lpp-home-carousel></lpp-home-carousel>
      </div>
    </div>
  </div>
</div>

<div class="home-section how-it-works bg-pale-grey">
  <div class="container">
    <div class="text-center">
      <h3>How it works?</h3>
      <h5 class="text-cool-grey">Register assets that will be tradable in Lykke ecosystem via Lykke products</h5>
    </div>
    <div class="how-it-works-content row justify-content-between">
      <div class="col-lg-5">
        <ul class="launch-steps list-unstyled">
          <li>
            <img src="../../assets/images/homepage/add_asset_icon.svg" alt="">
            <h6>1. Add Asset</h6>
            <p>Lorem ipsum dvolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
          </li>
          <li>
            <img src="../../assets/images/homepage/qualify_icon.svg" alt="">
            <h6>2. Qualify</h6>
            <p>Lorem ipsum dvolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
          </li>
          <li>
            <img src="../../assets/images/homepage/token_delivery_icon.svg" alt="">
            <h6>3. Token delivery</h6>
            <p>Lorem ipsum dvolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
          </li>
          <li>
            <img src="../../assets/images/homepage/launch_icon.svg" alt="">
            <h6>4. Launch in the Ecosystem</h6>
            <p>Lorem ipsum dvolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
          </li>
        </ul>
      </div>
      <div class="right-section col-lg-5">
        <img class="img-fluid" src="../../assets/images/homepage/how_it_works_graphic.png">
        <h6>Partners built on top of Lykke</h6>
        <p>
          Lorem ipsum dvolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
        </p>
      </div>
    </div>
  </div>
</div>

<div class="home-section value-proposition">
  <div class="container">
    <div class="text-center">
      <h3>Value Proposition</h3>
      <h5 class="text-cool-grey">Tokenize your assets and explore your unlimited posibilities</h5>
      <ul class="value-list list-unstyled row">
        <li class="col-6 col-md-4 col-lg-2 crypto">
          <div class="img-holder">
            <img src="../../assets/images/homepage/crypto_icon.svg" alt="">
          </div>
          <h5 class="value-title">Crypto</h5>
        </li>
        <li class="col-6 col-md-4 col-lg-2 fiat">
          <div class="img-holder">
            <img src="../../assets/images/homepage/fiat_icon.svg" alt="">
          </div>
          <h5 class="value-title">Fiat</h5>
        </li>
        <li class="col-6 col-md-4 col-lg-2 stocks">
          <div class="img-holder">
            <img src="../../assets/images/homepage/stocks_icon.svg" alt="">
          </div>
          <h5 class="value-title">Stocks</h5>
        </li>
        <li class="col-6 col-md-4 col-lg-2 commodities">
          <div class="img-holder">
            <img src="../../assets/images/homepage/commodities_icon.svg" alt="">
          </div>
          <h5 class="value-title">Commodities</h5>
        </li>
        <li class="col-6 col-md-4 col-lg-2 real-estate">
          <div class="img-holder">
            <img src="../../assets/images/homepage/real_estate_icon.svg" alt="">
          </div>
          <h5 class="value-title">Real Estate</h5>
        </li>
        <li class="col-6 col-md-4 col-lg-2 art">
          <div class="img-holder d-flex align-items-center">
            <img src="../../assets/images/homepage/art_icon.svg" alt="">
          </div>
          <h5 class="value-title">Art</h5>
        </li>
      </ul>
    </div>
  </div>
</div>

<img src="../../assets/images/homepage/waves_grey_bottom.svg" alt="">

<div class="home-section use-cases bg-pale-grey">
  <div class="container">
    <div class="text-center">
      <h3>Discover the use cases</h3>
      <h5 class="text-cool-grey">Our products cover everything you need</h5>
    </div>
    <div class="use-cases-content row justify-content-center justify-content-lg-between align-items-center">
      <div class="col-9 col-lg-5">
        <img src="../../assets/images/homepage/blockchain_graphic.svg" alt="">
      </div>
      <div class="col-md-9 col-lg-6">
        <ul class="use-cases-list list-unstyled text-cool-grey">
          <li>Contracts for difference</li>
          <li>Zero coupon bonds and other fixed income</li>
          <li>Natural capital bonds and more</li>
          <li>Colored coins for CO2 certificates</li>
          <li>Futures & options on digital assets</li>
          <li>Private equity financing for SMEs</li>
          <li>Crowdfunded loans for retailifference</li>
          <li>Colored coins for music rights</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="home-section tokenization-section">
  <div class="container">
    <div class="text-center">
      <h3>Tokenization of assets in numbers</h3>
      <h5 class="text-cool-grey">Here is some data about the tokenization of assets in the last few years</h5>
    </div>
  </div>
</div>

<div class="home-section become-partner bg-pale-grey">
  <div class="container">
    <div class="text-center">
      <h3>Become a partner today!</h3>
      <button type="button" class="btn btn-primary" (click)="openModal()" angulartics2On="click" angularticsCategory="Partner Portal Landing page" angularticsEvent="Click on Contact us button" >Contact us</button>
    </div>
  </div>
</div>

<div class="home-section contact-section container">
  <div class="row text-center">
    <div class="col-md-6 contact-support">
      <img class="icon" src="../../assets/images/homepage/support_icon.svg" alt="">
      <h5>Contact support</h5>
      <p>We are here to help you at all times:</p>
      <a class="mail-link" href="mailto:support@lykke.com">support@lykke.com</a>
    </div>
    <div class="col-md-6 our-newsletter">
      <img class="icon" src="../../assets/images/homepage/newsletter_icon.svg" alt="">
      <h5>Our newsletter</h5>
      <p>Get our latest news right in your mailbox</p>
      <div class="newsletter-container">
        <lpp-newsletter></lpp-newsletter>
      </div>
    </div>
  </div>
  <div class="legal-text row small">
    <div class="col-lg-6">
      <p>Trading financial products involves significant risk and can result in the loss of your invested capital. ferYou should not invest more than you can afford to lose and should ensure that you fully understand the risks involved. Trading leveraged products may not be suitable for all investors. Before trading, please take into consideration your level of experience, investment objectives and seek independent financial advice if necessary. It is the responsibility of the Client to ascertain whether he/ she is permitted to use the services of Lykke Vanuatu Limited based on the legal requirements in his/ her country of residence. Please read full Risk Disclosure.</p>
      <p>Spot FX trading is provided by Lykke Corp UK. Leveraged FX & CFD trading is only available to Lykke Vanuatu clients who reside in Asian and African countries. Lykke services are not available to the residents of US, Canada, Japan, Australia. For full list of countries please refer to the Terms of Use.</p>
    </div>
    <div class="col-lg-6">
      <p>Lykke Corp (Lykke AG) is registered in Zug, Switzerland. Identification number CHE-345.258.499. Commercial register (pdf).</p>

      <p>Lykke Corp UK Limited is a company registered in England number 10093552 limited by shares with its registered office at 86-90 Paul Street, London EC2A 4NE</p>

      <p>Lykke Vanuatu Limited is regulated by the Vanuatu Financial Services Commission (VFSC) of Vanuatu with Company number 17909</p>

      <p>Risk warning: Trading leveraged products can result in losses that exceed your deposits. Ensure you understand the risks. Read full Risk Disclosure.</p>
    </div>
  </div>
</div>

<div class="footer bg-pale-grey">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4">
        <h6>Newsletter</h6>
        <p class="small text-brownish-grey">Get our latest news right in your mailbox</p>
        <div class="col our-newsletter-footer">
            <lpp-newsletter></lpp-newsletter>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-md-2">
        <ul class="list-group footer-list">
          <li>Services</li>
          <li><a href="https://streams.lykke.com/">Lykke Streams</a></li>
          <li><a href="https://blockchainexplorer.lykke.com/">Blockchain explorer</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-3 col-md-2">
        <ul class="list-group footer-list">
          <li>For Clients</li>
          <li><a href="https://www.lykke.com/city/invest">Invest</a></li>
          <li><a href="https://www.lykke.com/">Wallet</a></li>
          <li><a href="https://www.lykke.com/exchange">Exchange</a></li>
          <li><a href="https://www.lykke.com/b2b">Accelerator</a></li>
          <li><a href="https://www.lykke.com/city/faq">FAQ</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-3 col-md-2">
        <ul class="list-group footer-list">
          <li>About us</li>
          <li><a href="https://www.lykke.com/leadership">Core Team</a></li>
          <li><a href="https://www.lykke.com/technology">Technology</a></li>
          <li><a href="https://www.lykke.com/company/news">News</a></li>
          <li><a href="https://www.lykke.com/city/blog">Blog</a></li>
          <li><a href="https://www.lykke.com/media/Whitepaper_LykkeExchange.pdf">White paper</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-3 col-md-2">
        <ul class="list-group footer-list">
          <li>Get in Touch</li>
          <li><a href="https://www.lykke.com/contacts">Contacts</a></li>
          <li><a href="https://lykkex.zendesk.com/hc/en-us">Support</a></li>
          <li><a href="https://www.lykke.com/city/open_positions">Open Positions</a></li>
          <li><a href="https://www.lykke.com/b2b-join">Join as Blockchain Accelerator</a></li>
        </ul>
      </div>
    </div>

    <div class="bottom-row row justify-content-center">
      <div class="col-lg-6 text-center text-lg-left">
        <p class="small text-brownish-grey">© 2017 Lykke, Inc. · <a class="text-brownish-grey" href="https://www.lykke.com/privacy_policy">Privacy Policy</a> · <a class="text-brownish-grey" href="https://www.lykke.com/terms_of_use">Terms of Use</a></p>
      </div>

      <nav class="social-nav col-lg-6 text-center text-lg-right">
        <a href="https://www.facebook.com/LykkeCity" target="_blank"><i class="icon icon--facebook"></i></a>
        <a href="https://twitter.com/lykke" target="_blank"><i class="icon icon--twitter"></i></a>
        <a href="http://instagram.com/lykkecity" target="_blank"><i class="icon icon--instagram"></i></a>
        <a href="https://www.youtube.com/c/LykkeX" target="_blank"><i class="icon icon--youtube"></i></a>
        <a href="https://www.linkedin.com/company/lykke" target="_blank"><i class="icon icon--linkedin"></i></a>
        <a href="https://www.reddit.com/r/lykke/" target="_blank"><i class="icon icon--reddit"></i></a>
        <a href="https://t.co/TmjMYnQD7T" target="_blank"><i class="icon icon--telegram"></i></a>
        <a href="http://lykkecommunity.herokuapp.com" target="_blank"><i class="icon icon--slack"></i></a>
      </nav>

    </div>
  </div>
</div>
